body {
    background-image: url("/flower.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    display: flex;
    margin-right: 20px;
}

img {
    display: flex;
    margin-right: 20px;
}

table, th, td {
    border: 2px solid white;
    /* width: 60%;
    height: 200px; */
    border-collapse: collapse;
}

table {
    width: 60%;
    height: 200px;
}

th, td {
    background-color: aqua;
}

.test {
    transform: rotate(90deg);
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butb {
    border-bottom-color: aqua;
}

.clsup {
    background-color: white;
}